
h1 {
	background-color: blue;
	color: white;
}
.form-group {
	size: 200px;
}
.panel {
	background-color: blue;
	color: white;
}
table, th, td {
    border: 1px solid black;
}
#addtrain {
	border: 1px solib black;
}
form {
	border: 1px solid black;
}
